.home {
	background-color:$background-color;
	color:$body-color;
	h2{
		@include m-title-font-hover;
	}
}

#main {
	margin-top:49px;
}

#aboutHighlander{
	// margin-top:50px;
}

#highlander-points {
	// margin-top:50px;
}

#hl-content {
	// margin-top:47px;
}

#hl-main-content {
	min-height:500px;
}

.points-list {
	ul {
		li{
			list-style-type: none;
		}
	}
}