
.side-nav-wrapper {
	visibility:hidden;
	width:16.5%;
	height:100%;
	padding-top:15px;

	border-top:2px solid $light_grey;
	border-bottom:2px solid $light_grey;
	position:fixed;
	overflow-y:scroll;
	background-color:$dark_grey;
	//text 
	text-decoration: none;
	text-transform: uppercase;
	color: $mid_white;

	> ul{
		padding-left:15px;
	}
	
	ul{
		li{
			padding:7px 0px;
		}
	}

	a{
		text-decoration: none;
		text-transform: uppercase;
		color: $mid_white;
		svg{
			display:inline-block;
			height:1.2em;
			width:1.2em;
			margin-right:10px;
			font-size:inherit;
		    vertical-align: middle;

			circle,
			polygon,
			rect,
			path{
				fill:$mid_white;
			}
		}
		&:hover {
			color:#fff;
			svg{
				circle,
				polygon,
				rect,
				path{
					fill:#fff;
				}
			}
		}
	}


	.sub-nav {
		a{
			list-style-type: none;
			text-decoration: none;
			text-transform: capitalize;
			svg{
				display:inline-block;
				height:1.2em;
				width:1.2em;
				margin-right:10px;
				font-size:inherit;
			    vertical-align: middle;

				circle,
				polygon,
				rect,
				path{
					fill:$mid_white;
				}
			}
			&:hover {
				color:#fff;
				svg{
					circle,
					polygon,
					rect,
					path{
						fill:#fff;
					}
				}
			}
		}
		ul{
			li{
				padding:7px 0;
			}
		}
	}
}

ul {
	list-style-type: none;
	padding: 0;
	li {
		list-style-type: none;
	}
}