// title font
 @mixin m-title-font{
 	font-size:$large-font;
 	font-family:$normal-font-family;
 	line-height:1.2em;
 	color: $title-color;
 }
 
 @mixin m-title-font-hover{
 	font-size:$large-font;
 	font-family:$normal-font-family;
 	line-height:1.2em;
 	color: $title-color;
 	&:hover { color:$title-color-hover; }
 	&:active { color:$title-color-active; }
 }

// section title font
@mixin m-section-title-font{
 	font-size:$medium-font;
 	font-family:$normal-font-family;
 	line-height:1em;
 	color: $section-title-color;
 }

@mixin m-section-title-font-hover{
 	font-size:$medium-font;
 	font-family:$accent-font-family;
 	line-height:1em;
 	color: $section-title-color;
 	&:hover { color:$section-title-color-hover; }
 	&:active { color:$section-title-color-active; }
 }

// body font
@mixin m-body-font{
 	font-size:$normal-font;
 	font-family:$normal-font-family;
 	line-height:1.4em;
 	color: $body-color;
}

@mixin m-body-font-hover{
 	font-size:$normal-font;
 	font-family:$normal-font-family;
 	line-height:1.4em;
 	color: $body-color;
 	&:hover { color:$body-color-hover; }
 	&:active { color:$body-color-active; }
}

@mixin btn-style {
	padding:10px 15px 9px;
	text-transform:uppercase;
	background-color:$blue;
	border:none;
	color:$off-white;
	&:hover{
		background-color:$light_red;
		color:white;
	}
}
