//colors
$my-black:rgb(5,5,5);

$dark-grey:rgb(15,15,15);
$grey: rgb(20,20,20);
$light-grey: rgb(50,50,50);
$lighter-grey: rgb(80,80,80);

// $red:rgb(80,80,80);
// $light-red:rgb(160,160,160);

$blue:rgb(80,80,255);
$light-blue:rgb(100,100,255);

$red: rgb(197, 17, 9);
$light-red: rgb(217, 17, 9);
$dark-red: rgb(147, 17, 9);
$mid-white: rgb(225,225,225);
$off-white: rgb(245,245,245);
$off-white-darker:rgb(195,195,195);

// 	background color
	$background-color:$lighter-grey;
	$navbar-background-color:#2f2f2f;
	// $background-color-red: $red;
	$background-color-blue: $blue;

// 	base colors 
	$body-color: $off-white;
	$body-color-hover:$mid-white;
	$body-color-active:$mid-white;
	$title-color:$off-white;
	$title-color-hover:$mid-white;
	$title-color-active:$mid-white;
	$section-title-color:$off-white;
	$section-title-color-hover:$mid-white;
	$section-title-color-active:$mid-white;
	
	$alt-body-color: $light-grey;
	$alt-body-color-hover: $grey;
	$alt-body-color-active: $grey;
	$alt-title-color: $light-grey;
	$alt-title-color-hover: $grey;
	$alt-title-color-active: $grey;
	$alt-section-title-color: $light-grey;
	$alt-section-title-color-hover: $grey;
	$alt-section-title-color-active: $grey;


// fonts
//	sizes
	$large-font:2.1428em;
	$medium-font:1.7142em;
	$normal-P-font:1.2857em;
	$normal-font: 1.1428em;

//	family
	$normal-font-family:'Raleway', sans-serif;
	$accent-font-family:'Ubuntu', sans-serif;
