@import "compass/utilities/sprites";

$ico-sprite-dimensions: true;
$icon-spacing: 5px;
$mysprite-layout:smart;
@import "icons/*.png";

// $icons_sprite_url: sprite-url($icons_sprites);

//list of sprite names
$sprite_names: 	'pin',
				'facebook',
				'cogs',
				'twitter',
				'youtube';

.icons {
	@each $sprite_name in $sprite_names {
		&.#{$sprite_name}-icon { 
			@include icons-sprite(#{$sprite_name}); 
			height: icons-sprite-height(#{$sprite_name});
			width: icons-sprite-width(#{$sprite_name});
			display: inline-block;
		}
	}
}

// to call these icons use <span class="icon #{icon_name}-icon" ></span> 
//		e.g. <span class="icons facebook-icon" ></span> 

// @import "icons2x/*.png";
// $icons2x_sprite_url: sprite-url($icons2x_sprites);

.social-icons{
	position:absolute;
	z-index: 999;
	bottom:15px;
	left:50%;
	transform:translateX(-50%);
	a.nav-icon{
		text-decoration: none;
		text-transform: uppercase;
		color: $mid_white;
		display: block;
	  padding: 15px 0;
		svg{
			display:inline-block;
			height:25px;
			width:25px;
			font-size:inherit;
		  vertical-align: middle;

			circle,
			polygon,
			rect,
			path{
				fill:$mid_white;
			}
		}
		&:hover {
			color:#fff;
			svg{
				circle,
				polygon,
				rect,
				path{
					fill:rgba(1,1,1,0.5);
				}
			}
		}
}
}
