#hl-header {
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:100;

	.hl-top-nav {
		width:100%;
		background-color:$grey;
		padding: 7px 15px 7px;
		border-bottom:2px solid $light-grey;
	}

	.nav-icon {
		display:inline-block;
	}
	
	.hl-search-container,
	.hl-left-container,
	.hl-right-container{
		@include m-body-font;
		vertical-align: middle;
	}	

	.hl-left-container{
		display:inline-block;
		padding:0 15px;

		a{
			font-family:$accent-font-family;
			font-size:$medium-font;
			color: $mid-white;
			line-height:1em;
			text-transform: uppercase;
			text-decoration:none;
			&:hover{
				color:$blue;
			}
		}
	}

	.hl-search-container {
		display:inline-block;
		padding:0 15px;

		.hl-utility-bar {
			display:inline-block;
			background-color:$mid-white;
			padding:2px 0;
			height:100%;

			.hl-utility-button{
				display:inline-block;
				padding:0 15px;

				svg{
					height:1em;
					font-size:$normal-font;
				    vertical-align: middle;

					circle,
					polygon,
					rect,
					path{
						fill:$grey;
					}
				}
			}

			input{
				display:inline-block;
				background-color:transparent;
				min-width:300px;
				height:100%;
				height:30px;
				border:0;
				margin:0;
				
				&:focus{
					box-shadow:none;
				}
			}
		}

		.hl-form-control {
			display:inline-block;
		}
	}

	.hl-right-container {
		display:inline-block;

		a {
			padding:0 15px;

			svg {
				width:auto;
				line-height:1em;
				height:1em;
				font-size:$normal-font;
				vertical-align: middle;

				circle,
				polygon,
				rect,
				path{
					fill:$mid-white;
				}
			}
			&:hover svg {
				circle,
				polygon,
				rect,
				path {
					fill:$blue;
				}
			}

		}
	}
	
}

.navbar {
	border:none;
}