footer{
	.hl-footer-top,
	.hl-footer-bottom{
		@include m-body-font;
		display:table;
		width:100%;
		border-top:2px solid $light_grey
	}

	.hl-footer-top {
		padding-top:15px;
		padding-bottom:15px;
		background-color:$dark_grey;
		
		h2 {
			border-top:1px;
			border-bottom:0;
			border-left:0;
			border-right:0;
			border-color:$mid_white;
			border-style:solid;
			padding:10px 0 10px;
			margin:0;
			@include m-body-font;
			a {
				color:$red;
				text-decoration: none;
			}
			&:hover {
				a {
					color:$dark_red;
				}
			}
		}

		h3 {
			margin:5px 0 10px;
			@include m-body-font;
			a {
				color:$mid_white;
				text-decoration: none;
			}	
			&:hover {
				a {
					color:$off_white-darker;
				}
				
			}
		}
	}

	.hl-footer-bottom {
		padding:15px 0;
		background-color:$my_black;
		h3{
			margin:0;
		}
	}
}