#points-list{

}

.banner {
	position:relative;
	width:100%;
	height:350px;
	
	.banner-image {
		width:100%;
		height:100%;
		overflow:hidden;
		background-color:black;
		background-position:center center;
		background-size: cover;
		background-repeat: no-repeat;	
	}

	.image-blur{
		-webkit-filter: blur(1px) opacity(0.8);
		-moz-filter: blur(1px) opacity(0.8);
		-o-filter: blur(1px) opacity(0.8);
		-ms-filter: blur(1px) opacity(0.8);
		filter: blur(1px) opacity(0.8);
	}

	.title{
		position:absolute;
		bottom:30px;
		width:100%;
		@include m-title-font;
		@include single-text-shadow(0, 0, 8px, false, black);
		text-align: center;
		text-transform: uppercase;
	}	
} 

#news{
	a{
		text-decoration: none;
	}
}